body {
    font-family: "domine";
    background-color: #F7FBF9;
}

.main {
    background-color:#000;
    width: 400px;
    border-radius: 10px;
    margin: 100px auto;
    padding: 30px;
    border: 1px solid #00000021;
}

.main h1{
    text-align: left;
    color: #0F1720;
    height: 20px;
    margin-top: 0px;
    font-size: 30px;
}


.main h2{
    text-align: left;
    color: #6B7280;
    font-size: 20px;
}

.box {
    background-color: red;
    text-align: left;
}

.box input[type="text"], .box input:not([type="checkbox"]) {
    padding: 12px;
    border:none;
    border-radius: 5px 0px 0px 5px;
    width: 70%;
    outline: none;
}

.box button{
    background-color: black;
    cursor: pointer;
    padding: 12px;
    border-radius: 0px 5px 5px 0px;
    border:none;
    color: white;
}

.box button:hover{
    background-color: #1f2937;
}

.display {
    padding-left: 10px;
    margin-top: 20px;
    
}
.display li {
    list-style-position: inside;
    text-align: left;
    gap: 10px;
    padding: 8px 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    color: black;
    background-color: white;
}

.display input[type="checkbox"] {
    margin-left: 5px; 
    cursor: pointer;
    accent-color: #4caf50;
}
