body {
    font-family: "domine";
}

.main {
    background-color:#f1f1f1;
    width: 400px;
    border-radius: 10px;
    margin: 50px auto;
    padding: 50px;
}

.main h1{
    text-align: center;
    color: black;
}

.todo{
    background-color: red;
    padding: 20px;
    border-radius: 10px;
}

.todo h2{
    text-align: center;
    color: #fff;
}

.box {
    background-color: red;
    padding: 20px;
    text-align: center;
    
}

.box input[type="text"], .box input:not([type="checkbox"]) {
    padding: 12px;
    border:none;
    border-radius: 5px 0px 0px 5px;
    width: 70%;
    outline: none;
}

.box button{
    background-color: black;
    cursor: pointer;
    padding: 12px;
    border-radius: 0px 5px 5px 0px;
    border:none;
    color: white;
}

.box button:hover{
    background-color: #1f2937;
}

.display {
    padding-left: 10px;
    margin-top: 20px;
    
}
.display li {
    list-style-position: inside;
    text-align: left;
    gap: 10px;
    padding: 8px 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    color: black;
    background-color: white;
}

.display input[type="checkbox"] {
    margin-left: 5px; 
    cursor: pointer;
    accent-color: #4caf50;
}